*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p+p {
    margin-top: 1em;
}

ul {
    list-style: none;
}

img, svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19.5px;
    background: #F1F5FB;
}

.container {
    max-width: 428px;
    width: 100%;
    margin: 0 auto;
    padding: 18px 0px 0px 12px
}

.page {
    padding: 0px 12px 0px 0px;
}

.shoes {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 12px;
    padding-right: 0;
}

.shoes button {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 16px;
    color: #BDBDBD;
    font-weight: 500;
    transition: all .2s ease;
}

.shoes .focus {
    background: #5BD6A4;
    color: #FFFFFF;
}

.shoes button+button {
    margin-left: 12px;
}

.input input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 15px 0px 15px 16px;
    margin-bottom: 14px;
}

::placeholder {
    color: #BDBDBD;
    font-size: 16px;
    /* background: url('../../assets/search.svg') no-repeat;
    background-position: 330px 0px; */
}
