@import "reset.scss";

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 19.5px;
    background: #f1f5fb;
}

.container {
    max-width: 428px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 12px;
}

.app {
    max-width: 428px;
    margin: auto;
}

.header {
    position: fixed;
    background: #f1f5fb;
    padding-top: 18px;
    max-width: 428px;
    width: 100%;
    z-index: 10;
    .category {
        margin-left: 12px;
        display: flex;
        overflow: auto;
        white-space: nowrap;
        margin-bottom: 12px;
        button {
            background: #ffffff;
            border: 1px solid #e8e8e8;
            border-radius: 8px;
            padding: 16px;
            color: #bdbdbd;
            font-weight: 500;
            transition: all 0.3s ease;
            & + button {
                margin-left: 12px;
            }
        }
        .focus {
            background: #5bd6a4;
            color: #ffffff;
        }
    }
    .input {
        width: 100%;
        position: relative;
        svg {
            position: absolute;
            left: 15px;
            top: 40%;
            transform: translateY(-50%);
        }
        input {
            width: 100%;
            background: #ffffff;
            border: 1px solid #e8e8e8;
            border-radius: 8px;
            padding: 15px 0px 15px 45px;
            margin-bottom: 14px;
            &::placeholder {
                color: #bdbdbd;
                font-size: 16px;
            }
        }
    }
}

.cards {
    padding-top: 170px;
}

.loading {
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    margin: 0 auto;
}
