*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p+p {
    margin-top: 1em;
}

ul {
    list-style: none;
}

img, svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19.5px;
    background: #F1F5FB;
}

.container {
    max-width: 428px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 12px;
}

.app {
    max-width: 428px;
    margin: auto;
}

.header {
    position: fixed;
    background: #F1F5FB;
    padding-top: 18px;
    max-width: 428px;
    width: 100%;
    z-index: 10;
}

.category {
    margin-left: 12px;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 12px;
}

.input {
    width: 100%;
    position: relative;
}

.input svg {
    position: absolute;
    left: 15px;
    top: 40%;
    transform: translateY(-50%);
}

.cards {
    padding-top: 170px;
}

.input input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 15px 0px 15px 45px;
    margin-bottom: 14px;
}

.category button {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 16px;
    color: #BDBDBD;
    font-weight: 500;
    transition: all .3s ease;
}

.category .focus {
    background: #5BD6A4;
    color: #FFFFFF;
}

.category button+button {
    margin-left: 12px;
}

.loading {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    margin: 0 auto;
}

::placeholder {
    color: #BDBDBD;
    font-size: 16px;
}