.card {
    padding: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
    & + .card {
        margin-top: 23px;
    }
    .card__article {
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
    }

    .card__category {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #bdbdbd;
        margin-bottom: 18px;
    }

    .card__img {
        background: #f9f9f9;
        border-radius: 8px;
        border: 1px solid #e8e8e8;
        .no__img {
            height: 420px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                color: #bdbdbd;
            }
        }
        img {
            border-radius: 8px;
        }
    }
    .card__size {
        display: flex;
        overflow: auto;
        margin-bottom: 18px;
        margin-top: 18px;
        .card__not {
            font-size: 16px;
            line-height: 19px;
            color: crimson;
        }
        button {
            background: #ffffff;
            border: 1px solid #e8e8e8;
            border-radius: 8px;
            padding: 16px;
            color: #bdbdbd;
            font-weight: 500;
            transition: all 0.2s ease;
            & + button {
                margin-left: 8px;
            }
        }
        .focus {
            background: #5bd6a4;
            color: #ffffff;
        }
    }
    .card__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #bdbdbd;
        margin-bottom: 18px;
    }
    .card__footer {
        display: flex;
        .footer-item {
            width: 33.333%;
        }
        .card__stock {
            text-align: center;
        }

        .card__reserv {
            text-align: right;
        }
        .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #bdbdbd;
        }
        .info {
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            color: #3d3d3d;
        }
    }
}

.user__info {
    margin-top: 60px;
    .card__buyer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 0px 0px 8px 8px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient(92.46deg, #4abb8d -6.41%, #32b17e 107.19%);
        color: #fff;
        min-height: 70px;
    }
}
